.u-section-1 .u-sheet-1 {
  min-height: 1035px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 974px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 658px;
  width: 620px;
  margin: 29px auto 0 -65px;
}

.u-section-1 .u-text-1 {
  margin: -19px auto 0 88px;
}

.u-section-1 .u-image-2 {
  width: 551px;
  height: 551px;
  margin: -656px auto 105px -19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 761px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 129px auto 0 19px;
}

.u-section-1 .u-line-1 {
  width: 443px;
  transform-origin: left center 0px;
  margin: 19px auto 0 19px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 19px 10px 0 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 803px;
  }

  .u-section-1 .u-image-1 {
    height: 499px;
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-weight: bold;
    margin-top: 71px;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-1 .u-line-1 {
    height: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 382px;
    width: 360px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 361px;
    margin-top: 9px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 95px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 485px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 820px);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  left: auto;
  right: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 420px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 65px 0 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 440px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 502px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 820px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 363px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 598px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 698px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 781px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}