 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2945px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 82px -50px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: -260px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 40px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }
}