 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/w4-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 784px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 300;
  font-size: 3.75rem;
  text-transform: none;
  width: 773px;
  margin: 194px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 515px;
  margin: 14px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 49px;
  margin-bottom: 35px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  grid-gap: 26px 26px;
  min-height: 395px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
  padding: 31px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  width: 238px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
  padding: 31px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  width: 238px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
  padding: 31px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  width: 238px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-1 {
    width: 668px;
    margin-top: 276px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -186px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 312px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: 323px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    width: 323px;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.25rem;
    width: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }
}