.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-image-1 {
  /*width: 459px;*/
  /*height: 679px;*/
  margin: 1px 0px -1px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 517px;
    margin-top: 0;
    margin-right: -245px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-image-1 {
    width: 242px;
    height: 415px;
    margin-top: -4px;
    margin-right: -51px;
    margin-bottom: 60px;
  }
} .u-section-2 {
  min-height: 131px;
}

.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 702px;
  margin: -652px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 695px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 678px;
  min-height: 412px;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  height: auto;
  margin: 104px auto 0 12px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 61px 0;
}

.u-section-2 .u-form-1 {
  height: 56px;
  width: 508px;
  margin: 53px 109px 0 61px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-input-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 175px -450px -656px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px);
  grid-gap: 50px 50px;
  width: 1140px;
  margin: auto auto 13% 13%;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  width: 243px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  width: 243px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  width: 243px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  width: 243px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  width: 243px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  width: 243px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 771px;
  }

  .u-section-2 .u-group-1 {
    width: 638px;
    margin-right: 40px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 0;
  }

  .u-section-2 .u-text-2 {
    width: 203px;
  }

  .u-section-2 .u-text-4 {
    width: 203px;
  }

  .u-section-2 .u-text-6 {
    width: 203px;
  }

  .u-section-2 .u-text-8 {
    width: 203px;
  }

  .u-section-2 .u-text-10 {
    width: 203px;
  }

  .u-section-2 .u-text-12 {
    width: 203px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 253px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1053px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 69px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    min-height: -18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 790px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 20px;
    margin-left: 12px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 131px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 2315px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -615px;
    margin-left: -16px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2225px;
    order: 0;
  }

  .u-section-2 .u-group-1 {
    width: 163px;
    margin-top: 136px;
    margin-right: 185px;
    margin-left: -8px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    height: 142px;
    width: 198px;
    margin-top: 131px;
    margin-right: -20px;
    margin-left: -12px;
  }

  .u-section-2 .u-list-1 {
    width: 60px;
    margin: 144px auto -657px 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 50px;
    max-width: 87vw !important;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 27px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 726px;
}

.u-section-3 .u-container-layout-1 {
  padding: 25px 30px;
}

.u-section-3 .u-image-1 {
  width: 468px;
  height: 625px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 341px;
  transition-duration: 1s;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 78px;
  height: 78px;
  background-image: url("images/pexels-photo-4101143.jpeg");
  background-position: 50% 50%;
  margin: 63px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 341px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 78px;
  height: 78px;
  background-image: url("images/57d8b6aaa5f9a4e9279d91aba13af2e39f95d72c9dccc91eb26d75b0581490486a8a1e4aa31af0e699e5db6466b9e83f401c04b34a5434c3663b6b_1280.png");
  background-position: 50% 50%;
  margin: 63px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 41px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 385px;
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 77px;
  height: 77px;
  background-image: url("images/b9d4545f0529e4f4292543322938f24e170d6c39ce9f2c0a2f0eee6340c6f462edf6d6b78dbede7e4e04df554b93f5bd35c2fad4aaaca39392ddd2_1280.jpg");
  background-position: 50% 50%;
  margin: 51px auto 0 62px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 41px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 385px;
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 78px;
  height: 78px;
  background-image: url("images/1aca065e324e64ed28e6d9f9eab2892d198f8324ab9b5c06c6347d36a7cceeb776457c020ee1676ae464172073594696d138f8c8a74e405eab6430_1280.jpg");
  background-position: 50% 50%;
  margin: 76px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 41px 30px 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 23px 138px 18px auto;
  padding: 11px 50px 11px 49px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.3em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-3 .u-image-1 {
    width: 396px;
    height: 529px;
  }

  .u-section-3 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 281px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 281px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 317px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 384px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 17px;
    margin-right: 75px;
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 918px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -2px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 65px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 361px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -79px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1789px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 103px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 32px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-3 .u-image-1 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 171px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 247px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 53px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]),
.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #0bc1b8 !important;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-layout-cell-3,
.u-section-3 .u-layout-cell-3:before,
.u-section-3 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover:before {
  background-color: #0bc1b8 !important;
}

.u-section-3 .u-layout-cell-4,
.u-section-3 .u-layout-cell-4:before,
.u-section-3 .u-layout-cell-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4:hover:before {
  background-color: #0bc1b8 !important;
}

.u-section-3 .u-layout-cell-5,
.u-section-3 .u-layout-cell-5:before,
.u-section-3 .u-layout-cell-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-5.u-layout-cell-5.u-layout-cell-5:hover:before {
  background-color: #0bc1b8 !important;
}

.u-section-3 .u-layout-cell-2,
.u-section-3 .u-layout-cell-2:before,
.u-section-3 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover:before {
  background-color: #0bc1b8 !important;
}

.u-section-3 .u-layout-cell-2 {
  border-color: transparent !important;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-layout-cell-2 {
  border-color: transparent !important;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 42px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 769px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 21px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 95px 21px 0;
}

.u-section-4 .u-image-1 {
  height: 397px;
  margin-top: 91px;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 71px auto 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/Screenshot2024-01-02at10.14.23PM.png");
  background-position: 40.21% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 634px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 52px;
    margin-left: 251px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -420px;
    margin-left: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 172px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 17px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 8px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1095px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 13px;
    margin-right: 152px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 459px;
    margin-right: 20px;
    margin-left: 34px;
  }

  .u-section-4 .u-image-1 {
    height: 435px;
    width: 390px;
    object-position: 50% 28.85%;
    margin-top: -862px;
    margin-right: -30px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 443px;
    margin-right: 97px;
    margin-left: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 349px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 221px;
  background-image: url("images/appointment-calendar-schedule.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 221px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 10px 30px 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 229px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 42px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-5 .u-image-1 {
    min-height: 182px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-5 .u-image-1 {
    min-height: 305px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 113px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-5 .u-image-1 {
    min-height: 763px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-5 .u-image-1 {
    min-height: 480px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 995px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/image.png");
  background-position: 50% 50%;
  min-height: 415px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 735px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 8px -8px 0 11px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 51px 21px 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 735px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 13px 8px;
}

.u-section-6 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 0 0 0 11px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 51px 5px 0 21px;
}

.u-section-6 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 50px;
  margin: 53px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-6 .u-image-1 {
    min-height: 342px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 606px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    --radius: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-6 .u-image-1 {
    min-height: 262px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-6 .u-image-1 {
    min-height: 197px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 28px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-6 .u-image-1 {
    min-height: 124px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 781px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 842px;
  margin: 28px auto 0;
}

.u-section-7 .u-text-2 {
  width: 561px;
  margin: 7px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 595px;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 5px 5px 40px 10px rgba(128,128,128,0.8);
  padding: 0 0 30px;
}

.u-section-7 .u-group-1 {
  min-height: 88px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-7 .u-group-2 {
  min-height: 405px;
  width: 300px;
  height: auto;
  margin: 22px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 -20px 0 10px;
}

.u-section-7 .u-text-5 {
  line-height: 2.5;
  font-size: 1rem;
  font-weight: 400;
  margin: 37px 0 0 30px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  --radius: 50px;
  margin: 37px auto 0;
  padding: 11px 53px 11px 52px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 595px;
}

.u-section-7 .u-container-layout-4 {
  box-shadow: 5px 5px 40px 10px rgba(128,128,128,0.8);
  padding: 0 0 30px;
}

.u-section-7 .u-group-3 {
  min-height: 88px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-7 .u-group-4 {
  min-height: 405px;
  width: 300px;
  margin: 22px auto 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-8 {
  line-height: 2.5;
  font-size: 1rem;
  font-weight: 400;
  margin: 37px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  --radius: 50px;
  margin: 37px auto 0;
  padding: 11px 53px 11px 52px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 595px;
}

.u-section-7 .u-container-layout-7 {
  box-shadow: 5px 5px 40px 10px rgba(128,128,128,0.8);
  padding: 0 0 30px;
}

.u-section-7 .u-group-5 {
  min-height: 88px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-7 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-7 .u-group-6 {
  min-height: 405px;
  width: 300px;
  margin: 22px auto 0;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-11 {
  line-height: 2.5;
  font-size: 1rem;
  font-weight: 400;
  margin: 38px 0 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  --radius: 50px;
  margin: 36px auto 0;
  padding: 11px 53px 11px 52px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-7 .u-group-2 {
    width: 293px;
    height: auto;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 23px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 491px;
  }

  .u-section-7 .u-group-4 {
    width: 293px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 491px;
  }

  .u-section-7 .u-group-5 {
    height: auto;
  }

  .u-section-7 .u-group-6 {
    width: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-group-2 {
    width: 220px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-group-4 {
    width: 220px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-group-6 {
    width: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 6px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1945px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-10 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 700px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 664px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 51px 0 0;
}

.u-section-8 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-8 .u-text-4 {
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-8 .u-group-1 {
  min-height: 392px;
  width: 510px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-form-1 {
  width: 450px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-8 .u-form-group-2 {
  margin-left: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  border-style: none;
  --radius: 50px;
  text-decoration: underline !important;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-8 .u-group-1 {
    width: 412px;
  }

  .u-section-8 .u-form-1 {
    width: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    width: 302px;
  }

  .u-section-8 .u-form-1 {
    width: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-right: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-1 {
    width: 512px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-form-1 {
    height: 321px;
    width: 492px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    width: 300px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 589px;
}

.u-section-9 .u-slider-1 {
  min-height: 469px;
  height: auto;
  width: 1020px;
  margin: 60px auto;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-9 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-9 .u-image-1 {
  width: 82px;
  height: 82px;
  background-image: url("images/IMG_2355.jpeg");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  width: 191px;
  margin: 19px auto 0;
}

.u-section-9 .u-text-3 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-9 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/IMG_5374.jpeg");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-6 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-9 .u-text-7 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-9 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/IMG_15261.jpeg");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-9 .u-text-8 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  width: 136px;
  margin: 15px auto 0;
}

.u-section-9 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-9 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-slider-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-slider-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-slider-1 {
    width: 340px;
  }
}