 .u-section-1 {
  min-height: 679px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 16px 0 16px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  width: 678px;
  min-height: 364px;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  height: auto;
  margin: 103px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 25px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 61px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 16px 97px 0 61px;
}

.u-section-1 .u-form-1 {
  height: 56px;
  margin: 53px 109px 0 82px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-1 .u-image-1 {
  min-height: 666px;
  background-image: url("images/IMG_2187.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 12px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 562px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-1 .u-group-1 {
    width: 541px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 21px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 41px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-1 {
    min-height: 549px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1122px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1009px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 870px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 757px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 477px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 830px;
}

.u-section-2 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 42px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px);
  min-height: 746px;
  grid-gap: 50px 50px;
  width: 1140px;
  grid-auto-columns: calc(33.3333% - 33.3333px);
  margin: auto auto 0 0;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 10px 10px;
}

.u-section-2 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -11px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 33.3333px));
    grid-auto-columns: calc(33.333333333333336% - 33.3333px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2132px;
    grid-template-columns: repeat(2, calc(50% - 24.999975px));
    grid-auto-columns: calc(50% - 24.999975px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 27px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 726px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 369px;
  height: 432px;
  margin: -5px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 341px;
  transition-duration: 1s;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 78px;
  height: 78px;
  background-image: url("images/pexels-photo-4101143.jpeg");
  background-position: 50% 50%;
  margin: 63px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 341px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 78px;
  height: 78px;
  background-image: url("images/57d8b6aaa5f9a4e9279d91aba13af2e39f95d72c9dccc91eb26d75b0581490486a8a1e4aa31af0e699e5db6466b9e83f401c04b34a5434c3663b6b_1280.png");
  background-position: 50% 50%;
  margin: 63px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 41px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 385px;
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 77px;
  height: 77px;
  background-image: url("images/b9d4545f0529e4f4292543322938f24e170d6c39ce9f2c0a2f0eee6340c6f462edf6d6b78dbede7e4e04df554b93f5bd35c2fad4aaaca39392ddd2_1280.jpg");
  background-position: 50% 50%;
  margin: 51px auto 0 62px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 41px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 385px;
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 78px;
  height: 78px;
  background-image: url("images/1aca065e324e64ed28e6d9f9eab2892d198f8324ab9b5c06c6347d36a7cceeb776457c020ee1676ae464172073594696d138f8c8a74e405eab6430_1280.jpg");
  background-position: 50% 50%;
  margin: 76px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 41px 30px 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 23px 138px 0 auto;
  padding: 11px 50px 11px 49px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.3em;
}

.u-section-3 .u-group-1 {
  width: 395px;
  min-height: 318px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  height: auto;
  margin: -340px auto 40px 134px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 78px;
  height: 78px;
  background-image: url("images/Screenshot2024-01-06at10.48.15AM.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -53px 40px 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 41px 0 0;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-3 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 281px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 281px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 317px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 384px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 918px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -2px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 65px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 361px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -79px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 375px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -80px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
  }
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]),
.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #0bc1b8 !important;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).u-block-3332-6:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-layout-cell-3,
.u-section-3 .u-layout-cell-3:before,
.u-section-3 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover:before {
  background-color: #0bc1b8 !important;
}

.u-section-3 .u-layout-cell-4,
.u-section-3 .u-layout-cell-4:before,
.u-section-3 .u-layout-cell-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4:hover:before {
  background-color: #0bc1b8 !important;
}

.u-section-3 .u-layout-cell-5,
.u-section-3 .u-layout-cell-5:before,
.u-section-3 .u-layout-cell-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-5.u-layout-cell-5.u-layout-cell-5:hover:before {
  background-color: #0bc1b8 !important;
}

.u-section-3 .u-layout-cell-2,
.u-section-3 .u-layout-cell-2:before,
.u-section-3 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover:before {
  background-color: #0bc1b8 !important;
}

.u-section-3 .u-layout-cell-2 {
  border-color: transparent !important;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-layout-cell-2 {
  border-color: transparent !important;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 790px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 747px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 20px auto 0 262px;
  padding: 10px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 50px 0 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 49px auto 0 223px;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("images/Screenshot2024-01-02at10.14.23PM.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 207px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 96px;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 172px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 17px;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-icon-1 {
    margin-left: 106px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 391px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 349px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 221px;
  background-image: url("images/appointment-calendar-schedule.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 221px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 10px 30px 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 229px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 42px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-5 .u-image-1 {
    min-height: 182px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-5 .u-image-1 {
    min-height: 305px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 113px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-5 .u-image-1 {
    min-height: 763px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-5 .u-image-1 {
    min-height: 480px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 995px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/image.png");
  background-position: 50% 50%;
  min-height: 415px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 735px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 8px -8px 0 11px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 51px 21px 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 735px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 13px 8px;
}

.u-section-6 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 0 11px;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 51px 13px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 82px 5px 0 21px;
}

.u-section-6 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 50px;
  margin: 53px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-6 .u-image-1 {
    min-height: 342px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 20px;
    text-decoration: none solid rgb(17, 17, 17);
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 606px;
  }

  .u-section-6 .u-text-3 {
    text-decoration: none solid rgb(17, 17, 17);
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    --radius: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-6 .u-image-1 {
    min-height: 262px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-6 .u-image-1 {
    min-height: 197px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 28px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-6 .u-image-1 {
    min-height: 124px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 781px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 842px;
  margin: 28px auto 0;
}

.u-section-7 .u-text-2 {
  width: 561px;
  margin: 7px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 595px;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 5px 5px 40px 10px rgba(128,128,128,0.8);
  padding: 0 0 30px;
}

.u-section-7 .u-group-1 {
  min-height: 88px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-7 .u-group-2 {
  min-height: 405px;
  width: 300px;
  height: auto;
  margin: 22px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 -20px 0 10px;
}

.u-section-7 .u-text-5 {
  line-height: 2.5;
  font-size: 1rem;
  font-weight: 400;
  margin: 37px 0 0 30px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  --radius: 50px;
  margin: 37px auto 0;
  padding: 11px 53px 11px 52px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 595px;
}

.u-section-7 .u-container-layout-4 {
  box-shadow: 5px 5px 40px 10px rgba(128,128,128,0.8);
  padding: 0 0 30px;
}

.u-section-7 .u-group-3 {
  min-height: 88px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-7 .u-group-4 {
  min-height: 405px;
  width: 300px;
  margin: 22px auto 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-8 {
  line-height: 2.5;
  font-size: 1rem;
  font-weight: 400;
  margin: 37px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  --radius: 50px;
  margin: 37px auto 0;
  padding: 11px 53px 11px 52px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 595px;
}

.u-section-7 .u-container-layout-7 {
  box-shadow: 5px 5px 40px 10px rgba(128,128,128,0.8);
  padding: 0 0 30px;
}

.u-section-7 .u-group-5 {
  min-height: 88px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-7 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-7 .u-group-6 {
  min-height: 405px;
  width: 300px;
  margin: 22px auto 0;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-11 {
  line-height: 2.5;
  font-size: 1rem;
  font-weight: 400;
  margin: 38px 0 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  --radius: 50px;
  margin: 36px auto 0;
  padding: 11px 53px 11px 52px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-7 .u-group-2 {
    width: 293px;
    height: auto;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 23px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 491px;
  }

  .u-section-7 .u-group-4 {
    width: 293px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 491px;
  }

  .u-section-7 .u-group-5 {
    height: auto;
  }

  .u-section-7 .u-group-6 {
    width: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-group-2 {
    width: 220px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-group-4 {
    width: 220px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-group-6 {
    width: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 6px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1945px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-10 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1201px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  width: 565px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 99px auto 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-8 .u-accordion-1 {
  width: 894px;
  margin: 30px auto 0;
}

.u-section-8 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-8 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-8 .u-text-7 {
  margin-bottom: 0;
}

.u-section-8 .u-accordion-2 {
  width: 894px;
  margin: 10px auto 0;
}

.u-section-8 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-6 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-6 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-7 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-7 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-8 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-8 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-9 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-9 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-9 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-10 {
  background-image: none;
  margin-bottom: 0;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-8 .u-icon-10 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-8 .u-accordion-pane-10 {
  min-height: 154px;
  background-image: none;
}

.u-section-8 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-8 .u-text-12 {
  margin-bottom: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 50px;
  margin: 45px auto 44px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-8 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-8 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-8 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-8 .u-accordion-pane-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-accordion-1 {
    width: 720px;
  }

  .u-section-8 .u-accordion-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-accordion-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-accordion-2 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-accordion-1 {
    width: 340px;
  }

  .u-section-8 .u-accordion-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 700px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 46px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 580px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 71px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 51px 0 0;
}

.u-section-9 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-9 .u-text-4 {
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-9 .u-group-1 {
  min-height: 392px;
  width: 510px;
  margin: 45px auto 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-form-1 {
  width: 450px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: none;
  --radius: 50px;
  text-decoration: underline !important;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-9 .u-group-1 {
    width: 412px;
  }

  .u-section-9 .u-form-1 {
    width: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-group-1 {
    width: 302px;
  }

  .u-section-9 .u-form-1 {
    width: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-group-1 {
    width: 512px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-form-1 {
    height: 321px;
    width: 492px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-9 .u-form-1 {
    width: 300px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 589px;
}

.u-section-10 .u-slider-1 {
  min-height: 469px;
  height: auto;
  width: 1020px;
  margin: 60px auto;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-10 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-10 .u-image-1 {
  width: 82px;
  height: 82px;
  background-image: url("images/104214.jpeg");
  background-position: 50% 31.99%;
  margin: 35px auto 0;
}

.u-section-10 .u-text-2 {
  width: 191px;
  font-weight: 700;
  margin: 20px 335px 0;
}

.u-section-10 .u-text-3 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-10 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-10 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/IMG_5374.jpeg");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-10 .u-text-6 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-10 .u-text-7 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-10 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/IMG_15261.jpeg");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-10 .u-text-8 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-10 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  width: 136px;
  margin: 15px auto 0;
}

.u-section-10 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-10 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-slider-1 {
    width: 940px;
  }

  .u-section-10 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-10 .u-text-2 {
    margin-left: 295px;
    margin-right: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-slider-1 {
    width: 720px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 235px;
    margin-right: 235px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-slider-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 165px;
    margin-right: 165px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-slider-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
  }
}